.open-settings {
  right: 15px;
  top: 15px;
  height: 50px;
  width: 50px;
  position: absolute;
  background: none;
  outline: none;
  border: none;
  box-shadow: none;
  transition: var(--transition);
}

.open-settings svg {
  width: 50px;
  height: 50px;
  transition: var(--transition);
}

.open-settings:hover {
  opacity: 0.7;
  transform: scale(0.9);
}

.open-settings:active {
  opacity: 0.9;
  transform: scale(0.95);
}

.open-settings:hover svg {
  transform: rotate(30deg);
}

.open-settings:active svg {
  transform: rotate(45deg);
}

.open-settings-window-btn:hover {
  background: #0056b3;
}

.settings-window {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.settings-window--active {
  opacity: 1;
  visibility: visible;
}

.settings-window__content {
  position: relative;
  border-radius: 16px;
  width: 100%;
  height: 100%;
  padding: 100px 10px;
  text-align: center;
  background-color: var(--neutral-color-10);
}

.settings-window__theme-switcher {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
.settings-window__theme-switcher-btn {
  border: none;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px) saturate(180%);
  -webkit-backdrop-filter: blur(20px) saturate(180%);
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 10px 20px;
  box-shadow:
    0 4px 10px rgba(0, 0, 0, 0.25),
    0 0 30px rgba(255, 255, 255, 0.1);
  transition: var(--transition);
}

.settings-window__theme-switcher-btn:hover {
  opacity: 0.7;
  transform: scale(0.9);
}

.settings-window__theme-switcher-btn:active {
  opacity: 0.8;
  transform: scale(0.95);
}

.close-settings {
  position: absolute;
  top: 34px;
  right: 32px;
  border: none;
  background: none;
  width: 100px;
  transition: var(--transition);
  width: 50px;
  height: 50px;
}

.close-settings svg {
  stroke: var(--neutral-color-100);
  fill: var(--neutral-color-100);
}

.close-settings:hover {
  opacity: 0.7;
  transform: scale(0.9);
}

.close-settings:active {
  opacity: 0.8;
  transform: scale(0.95);
}

.close-settings svg path {
  fill: var(--neutral-color-100);
  stroke: var(--neutral-color-100);
}
/* Анимация появления */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
